{% extends 'base.html.twig' %}

{% block title %}Edit Sala{% endblock %}

{% block body %}
    <h1>Edit Sala</h1>

    {{ include('sala/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sala_index') }}">back to list</a>

    {{ include('sala/_delete_form.html.twig') }}
{% endblock %}
